/************************************************
Poppins Font
************************************************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

a {
  color: #000000;
  text-decoration: none;
}

/************************************************
Reset
************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************************************
HTML
************************************************/

html {
  font-family: "Poppins";
  scroll-behavior: smooth;
  --main-bg-color: #f5f5f5;
}

:root {
  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
}

html {
  font-size: clamp(0.9375rem, calc(0.9119rem + 0.1136vw), 3rem);
  margin: 1vw 10vw;
}

ul li {
  list-style-type: none;
}

body {
  background-color: var(--main-bg-color);
}

/************************************************
Header
************************************************/

header nav {
  display: flex;
  justify-content: center;
  padding: 10px;
}

header nav ul {
  display: flex;
  gap: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 25px;
}

header nav ul li {
  padding: 10px 25px;
  margin: 5px;
  border-radius: 25px;
  display: block;
}

header nav ul li.usando {
  background-color: black;
}

header nav ul li.usando a {
  color: white;
}

/************************************************
Banner
************************************************/

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5vw auto 3vw auto;
  width: 80%;
  max-width: 1000px;
}

.banner h1 {
  width: 50%;
  font-size: 2.8rem;
  font-weight: normal;
}

.banner h1 span {
  font-weight: bold;
}

.banner p {
  font-size: 1.9rem;
  color: #5a5a5a;
  line-height: 3.2rem;
}

/************************************************
Posts
************************************************/

.posts {
  margin: 5vw auto 0vw auto;
  width: 80%;
  max-width: 1000px;
}

.posts > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.posts > ul > li {
  background-color: white;
  padding: 1vw;
  border-radius: 20px;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgb(158, 158, 158);
}

.posts > ul > li h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 0.8vw 0;
}

.posts > ul > li img {
  border-radius: 20px;
  max-width: 100%;
}

.posts ul ul {
  display: flex;
  flex-wrap: wrap;
}

.posts ul ul li p {
  background-color: #f5f5f5;
  margin: 0.5vw 0 0.5vw 0.5vw;
  padding: 6px 10px;
  border-radius: 25px;
  color: black;
  font-weight: 600;
}

.posts ul li p {
  font-size: 1.1rem;
  color: #757575;
}

/************************************************
Projects
************************************************/

.projects ul {
  margin-bottom: 2.5vw;
}

.projects li {
  margin: 1vw auto 1vw auto;
  width: 80%;
  max-width: 1000px;
  background-color: white;
  padding: 1.5vw;
  border-radius: 20px;
  border: 2px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgb(158, 158, 158);
}

.projects h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 0.5vw 0;
}

.projects p {
  color: #757575;
  margin: 0 0 0.5vw 0;
}

.projects img {
  display: block;
  margin: auto;
  width: 90%;
}

/************************************************
Redes
************************************************/

.redes {
  margin: 5vw auto 0vw auto;
  width: 80%;
  max-width: 1000px;
}

.redes ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.redes li {
  background-color: white;
  padding: 0.5vw;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  box-shadow: 1px 1px 2px rgb(158, 158, 158);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.redes p {
  font-size: 1.2rem;
  font-weight: 400;
}

.redes span {
  font-size: 1.5rem;
  margin: 0 1vw;
}

/************************************************
Footer
************************************************/

footer {
  margin: 1vw auto 1vw auto;
  width: 80%;
  max-width: 1000px;
  background-color: white;
  padding: 0.8vw;
  border-radius: 20px;
  border: 2px solid #e5e5e5;
  text-align: center;
  font-weight: lighter;
  color: #7c7c7c;
  box-shadow: 1px 1px 2px rgb(158, 158, 158);
}

@media only screen and (max-width: 1400px) {

  .posts {
    width: 100%;
  }

  .banner {
    width: 100%;
  }

  .projects li {
    width: 100%;
  }

  .redes {
    width: 100%;
  }

  footer {
    width: 100%;
  }
}


  

@media only screen and (max-width: 600px) {
  html {
    max-width: 600px;
    margin: 5vw 5vw;
  }

  header nav ul {
    gap: 2px;
  }

  header nav ul li {
    padding: 0.5rem 0.75rem;
    border-radius: 20px;
    display: block;
  }

  .banner {
    display: block;
    margin: 5vw auto 3vw auto;
    width: 100%;
    max-width: 500px;
  }

  .banner h1 {
    width: 100%;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 10vw 0 10vw 0;
  }

  .banner p {
    font-size: 1.5rem;
    color: #5a5a5a;
    line-height: 2.2rem;
  }

  .posts {
    margin: 5vw auto 0vw auto;
    width: 100%;
    max-width: 600px;
  }

  .posts > ul {
    display: block;
  }

  .posts > ul > li {
    padding: 2vw;
  }

  .posts > ul > li h2 {
    margin: 0 0 2vw 0;
  }

  .posts > ul > li img {
    border-radius: 20px;
    width: 100%;
  }

  .posts > ul > li img.lampada {
    width: 15%;
  }

  .posts ul ul {
    display: flex;
  }

  .posts ul li {
    margin: 3vw 0;
  }

  .posts ul ul li p {
    background-color: #f5f5f5;
    margin: 0.5vw 0 0.5vw 0.5vw;
    padding: 4px 8px;
    border-radius: 25px;
    color: black;
    font-weight: 600;
  }

  .posts ul li p {
    font-size: 1.1rem;
    color: #757575;
  }

  .projects li {
    width: 100%;
    padding: 5vw;
    margin: 3vw auto 3vw auto;
  }

  .projects img {
    margin: 5vw auto 2vw auto;
    width: 100%;
  }

  .redes {
    width: 100%;
  }

  .redes ul {
    display: block;
  }

  .redes li {
    padding: 2vw;
    margin: 5vw 0;
  }




  footer {
    margin: 10vw auto 5vw auto;
    width: 100%;
    padding: 2vw;
    border-radius: 20px;
  }
}
